@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use
.container 
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

@media (min-width: 576px) 
  .container 
    max-width: 540px
  
@media (min-width: 768px) 
  .container 
    max-width: 720px
  
@media (min-width: 992px) 
  .container 
    max-width: 960px
  
@media (min-width: 1200px) 
  .container 
    max-width: 1140px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.example-img
	width: 100%

.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
